<div class="section">

    <div class="container">

        <div class="row">        	
            <form name="donateForm" ng-submit="submitForm(donateForm.$valid)" novalidate>
                <fieldset ng-disabled="isSubmitting">
                    <div class="col-md-12">
                        <h1>Donate Now!</h1><hr />
                    </div>
                    <div class="clear"></div>
                    
                    <div class="col-md-5" id="currency-group" ng-class="{ 'has-error' : donateForm.currency.$invalid && !donateForm.currency.$pristine }">
                          <select name="currency" ng-model="currency" class="form-control" ng-change="changeCurrency()" id="currency" required>
                            <option value="">-- Select Currency --</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                          </select>
                          <p ng-show="donateForm.currency.$invalid && !donateForm.currency.$pristine" class="help-block">Please choose a currency!</p>
                    </div>
                    <div class="col-md-5" id="amount-group" ng-class="{ 'has-error' : donateForm.amount.$invalid && !donateForm.amount.$pristine }">
                        <div class="input-group">
                          <span class="input-group-addon" id="currhold">USD</span>
                          <input type="number" class="form-control" placeholder="0.00" max="100" ng-model="amount" name="amount" autocomplete="off" required>                       
                        </div>
                        <p ng-show="donateForm.amount.$invalid && !donateForm.amount.$pristine" class="help-block">Please Enter an Amount less than 100!</p>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" ng-disabled="donateForm.$invalid">Donate</button>
                    </div>
                    
                    <div class="clear"></div>
                </fieldset>
            </form>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
